[submodule "frontend"]
	path = frontend
	url = https://github.com/iamsurjog/terionix_frontend
[submodule "backend"]
	path = backend
	url = https://github.com/iamsurjog/terionix_backend
[submodule "admin"]
	path = admin
	url = https://github.com/iamsurjog/terionix_admin
[submodule "terionix_scraper"]
	path = terionix_scraper
	url = https://github.com/iamsurjog/terionix_scraper
